node_modules

.sublime-gulp.cache

www/
php/
build/

_sass_map/
sass_maps/

__etribe_ux
.idea/
*.iml
package-lock.json

**/test/

\.vscode/settings\.json

.DS_Store

dev/html_pc_newstay/service/class_modify.pug

dev/html_pc_newstay/service/class_view.pug

dev/html_pc_newstay/service/culture_complete.pug

dev/html_pc_newstay/service/culture_list.pug
