@charset "utf-8";
p{
  &.tit{margin: 15px 0 5px;font-size: 16px;font-weight: bold;}
}
.test1{
    .c1{
        &.on{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            background-color: #333;
            transform: translate(-50%,-50%);
        }
    }
}
.test2{
  .welcome{
    display: none;
    background: yellow;
    span{font-size: 40px;}
  }
}
.navi{
  li{
    display: inline-block;
    padding: 5px;
    &.selected{background: red;color: #ffffff;}
  }
}

.wrap{
  margin: 50px 0 50px;
  .selected,.selected_parent {
    background-color: red !important;
    color:white;
    border:2px solid red !important;
  }
  input.btn {
    width:130px;
  }
  ul, .live{
    float:left;
    width:150px;
    padding-left:20px;
    margin:0;
  }
  textarea{
    float:left;
    width: 400px;
    height:150px;
    font-size:11px;
    margin-left:20px;
  }
  .clear{
    clear: both;
  }
  .sample{
    margin-bottom: 20px;
    &:not(:first-child){
      margin-top: 30px;
    }
  }
}

/*! header */
/*! footer */
/*! popup */
/*! layout */