@charset "utf-8";
p{
  &.tit{margin: 15px 0 5px;font-size: 16px;font-weight: bold;}
}
.test1{
    .c1{
        &.on{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            background-color: #333;
            transform: translate(-50%,-50%);
        }
    }
}
.test2{
  .welcome{
    display: none;
    background: yellow;
    span{font-size: 40px;}
  }
}
.navi{
  li{
    display: inline-block;
    padding: 5px;
    &.selected{background: red;color: #ffffff;}
  }
}

/*! header */
/*! footer */
/*! popup */
/*! layout */