//- SEO 정리 (국문)
if language == "ko"
	//- 공통 타이틀
	- var metaTitle_common = "";

	//- 공통 키워드
	- var metaKeywords_common = "";

	//- main - (페이지별 정리)
	- var metaTitle_main = "";
	- var metaKeywords_main = "";
	- var metaDescription_main = "";
	- var ogTitle_main = "";
	- var ogUrl_main = "";
	- var ogImage_main = "";
	- var ogDescription_main = "";



//- SEO 정리 (영문)
else if language == "en"
	//- 공통 타이틀
	- var metaTitle_common = "";

	//- 공통 키워드
	- var metaKeywords_common = "";

	//- main - (페이지별 정리)
	- var metaTitle_main = "";
	- var metaKeywords_main = "";
	- var metaDescription_main = "";
	- var ogTitle_main = "";
	- var ogUrl_main = "";
	- var ogImage_main = "";
	- var ogDescription_main = "";
